
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Regular.ttf');
}


body {
  font-family: 'Roboto', sans-serif;
}
.main_wrapper {
    padding-top: 80px;
}
.custome-container {
position: relative;
}
.headlie_arow {
position: absolute;
    top: 8px;
    left: -25px;
}
.headlie_arow i {
    font-size: 35px;
    color: #5F5F5F;
}
.heading_wrapper h3{
font-size: 40px;
color: #000;
font-weight: 500;
}
.info_wrapper {
    max-width: 55%;
    margin: 80px auto 0;
}
.user_img_wrapper {
width: 50px;
margin-right: 18px;
}

.content_wrapper h5 {
    color: #000;
    font-size: 18px;
    margin-bottom: 8px;
}
.content_wrapper p {
    color: #5F5F5F;
    font-size: 14px;
    margin-bottom: 0px;
}


.user_details_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}

.select-user {
    background-color: #BCE3FF;
    border-radius: 100%;
}
.Btn {
border:1px solid #000;
display: inline-block;
padding: 15px 18px;
font-family: 'RobotoMono', monospace;
color: #000;
border-radius: 8px;
box-shadow: 0px 2px 0px 0px rgba(0,0,0);
}
.Btn:hover {
    text-decoration: none;
    color: #000;
}


.headline_wrapper {
padding-bottom: 50px;
}

.headline_wrapper h3 {
    font-size: 40px;
    color: #000;
    font-weight: 400;
}
.headline_wrapper p {
font-size: 20px;
color: #5F5F5F;
margin-bottom: 0px;
}
.usr_seection {
    max-width: 80%;
    margin: 40px auto 0;
}
.user_section_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-section-wrapper {
padding-top: 250px;
}

.userinput {
    border: 1px solid #000;
    height: 45px;
    padding: 10px;
    width: 100%;
    outline: none;
}
.stBtn {
padding: 12px 16px;
    font-size: 12px;
}
.select-conversion {
 background-color: #EDF7FF;
 max-width: max-content;
 padding: 10px 10px;
}
.indx-conversion {
background-color: #EDF7FF;

 padding: 10px 10px;
}


@media only screen and (max-width: 567px) {
   .heading_wrapper {
text-align: center;
   }
}
